@use "../constants/mixins" as *;
@use "../constants/variables" as *;

.contacts {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    color: var(--SLATE, #434455);
    @include rem-typography(12px, 14px, 0.48px);
    font-weight: 400;
    gap: 12px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 40px;
    color: var(--SLATE, #434455);
    @include rem-typography(16px, 24px, 0.32px);
  }

  &--burger-menu {
    gap: 24px;
    font-weight: 500;
    @include rem-typography(20px, 24px, 0.4px);
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
