@use "../constants/variables" as *;
@use "../constants/mixins" as *;
nav {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
 .navigation--burger-menu {
      display: none;
  }
}
.navigation {
  list-style: none;
  &--header {
    gap: 40px;

    color: var(--navy-blue, #2e2f42);
    font-weight: 500;
  }
  &--burger-menu {
    flex-direction: column;
    color: var(--navy-blue, #2e2f42);

    @include rem-typography(36px, 40px, 0.72px);
    font-weight: 700;
  }
}
