      <div class="container">

        <h2 class="portfolio-title">Our Portfolio</h2>
        <ul class="list">
          <!--#region App project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/app-project.jpg" alt="App project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Banking App </h3>
              <p class="portfolio-text">App</p>
            </div>
            </a>
          </li>
          <!--#endregion end App project -->
          <!--#region Marketing project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/marketing-project.jpg" alt="Marketing project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Cashless Payment</h3>
              <p class="portfolio-text">Marketing</p>
            </div>
            </a>
          </li>
          <!--#endregion end Marketing project -->
          <!--#region Meditation App project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/graphic-project.jpg" alt="Meditation App project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Meditation App</h3>
              <p class="portfolio-text">App</p>
            </div>
            </a>
          </li>
          <!--#endregion end Meditation App project -->
          <!--#region Taxi Service project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/taxi-project.jpg" alt="Taxi Service project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Taxi Service</h3>
              <p class="portfolio-text">Marketing</p>
            </div>
            </a>
          </li>
          <!--#endregion end Taxi Service project -->
          <!--#region Screen Illustrations project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/screen-project.jpg" alt="Screen Illustrations project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Screen Illustrations</h3>
              <p class="portfolio-text">Design</p>
            </div>
            </a>
          </li>
          <!--#endregion end Screen Illustrations project -->
          <!--#region Online Courses project -->
          <li class="list-item">
            <a href="">
            <img class="portfolio-img" src="./src/assets/images/courses-project.jpg" alt="Online Courses project" width="360" height="300">
            <div class="description visually-hidden"></div>
            <div class="portfolio-content">
              <h3 class="portfolio-name">Online Courses</h3>
              <p class="portfolio-text">Marketing</p>
            </div>
            </a>
          </li>
          <!--#endregion end Online Courses project -->
      </div>
