@use "./variables" as *;

// Міксин для підключення шрифтів
@mixin font-face($font-name, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url("#{$file-path}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Міксин для перерахування значень шрифтів в rem
@mixin rem-typography($font-size, $line-height, $letter-spacing) {
  font-size: $font-size / $base-font-size * 1rem;
  line-height: $line-height / $base-font-size * 1rem;
  letter-spacing: $letter-spacing / $base-font-size * 1rem;
}

// Міксин для фонового зображення
@mixin responsive-bg($image, $image-retina: null) {
  background-image: url(#{$image});
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @if $image-retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(#{$image});
    }
  }

  @content;
}
