:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

$second-family: "Raleway", sans-serif;

$base-font-family: "Roboto", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-font-style: normal;
$base-line-height: 24px;
$base-letter-spacing: 0.32px;
$base-text-color: var(--slate, #434455);

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$section-padding-mobile: 96px;
$section-padding-desktop: 120px;

$header-padding-mobile: 16px;
$header-padding-desktop: 24px;

$hero-padding-mobile: 72px;
$hero-padding-tablet: 112px;
$hero-padding-desktop: 188px;

$footer-padding-mobile: 96px;
$footer-padding-tablet: 100px;
