       <!--#region navigation -->
        <nav class="nav">
          <ul class="list">
            <!-- home -->
            <li class="list-item">
              <a class="link active" href="#hero">Studio</a>
            </li>
            <!-- portfolio -->
            <li>
              <a class="link" href="#portfolio">Portfolio</a>
            </li>
             <!-- contacts -->
             <li>
              <a class="link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <!--#endregion end navigation -->