          <ul class="list">
            <!-- instagram -->
            <li class="list-item">
              <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="./src/assets/icons/sprite.svg#icon-instagram"/>
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="list-item">
              <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="./src/assets/icons/sprite.svg#icon-twitter"/>
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="list-item">
              <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="./src/assets/icons/sprite.svg#icon-facebook"/>
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="list-item">
              <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="./src/assets/icons/sprite.svg#icon-linkedin"/>
                </svg>
              </a>
            </li>
          </ul>
